<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= customer.email_address %>
  </p>

  <p>
    <strong>Monthly bill:</strong>
    <%= customer.monthly_bill %>
  </p>

</div>
