<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction date:</strong>
    <%= transaction.transaction_date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= transaction.total_amount %>
  </p>

  <p>
    <strong>Total quantity:</strong>
    <%= transaction.total_quantity %>
  </p>

</div>
